
<div class="content" role="main">
  <div class=" bg-light text-dark">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Busqueda de NRC</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <!--se sustituyo href por routerLink ya que el ultimo en caso de recargar la pagina routerLink "guarda" lo que pueda haber dentro de un campo vacio-->
              <a class="nav-link "  href="/Alumnos/add">Alumnos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/materias">Materias</a>
            </li>
          </ul>
        </div>
      </div>
    </nav> 
    
    
    </div>
</div>
